{
  "auth": {
    "hostname": "IMAP.EXAMPLE.ORG",
    "username": "USERNAME",
    "password": "PASSWORD"
  },
  "folders": {
    "Inbox": {
      "folder": "INBOX",
      "query": ["SINCE", 21]
    },
    "Projects": {
      "folder": "Projects/something",
      "query": ["SINCE", 7, "UNSEEN"]
    }
  },
  "max_session_duration": 240,
  "mask_links": [
    "credentials|password|recover|reset"
  ],
  "authenticator": {
    "name": "otp",
    "args": {
      "state_file": "state.otp"
    }
  }
}
