{
  "auth": {
    "hostname": "IMAP.EXAMPLE.ORG",
    "username": "USERNAME",
    "password": "PASSWORD"
  },
  "folders": {
    "INBOX": "Inbox",
    "Some/Other/MailboxPath": "MailboxName"
  },
  "max_session_duration": 240,
  "mask_links": [
    "credentials|password|recover|reset"
  ],
  "last_n_days": 21,
  "authenticator": {
    "name": "otp",
    "args": {
      "state_file": "state.otp"
    }
  }
}
