{
  "auth": {
    "imap": {
      "hostname": "IMAP.EXAMPLE.ORG",
      "username": "USERNAME",
      "password": "PASSWORD"
    },
    "smtp": {
      "hostname": "SMTP.EXAMPLE.ORG",
      "port": 587,
      "username": "USERNAME",
      "password": "PASSWORD",
      "from": "Somebody <somebody@example.org>"
    }
  },
  "folders": {
    "Inbox": {
      "folder": "INBOX",
      "query": ["SINCE", 21]
    },
    "Projects": {
      "folder": "Projects/something",
      "query": ["SINCE", 7, "UNSEEN"]
    }
  },
  "max_session_duration": 240,
  "mask_links": [
    "credentials|password|recover|reset"
  ],
  "authenticator": {
    "name": "otp",
    "args": {
      "state_file": "state.otp"
    }
  }
}
